@media screen and (orientation: portrait) {
   body::before {
      content: "Putar HP ke landscape";
      position: fixed;
      inset: 0;
      background: #000;
      color: #fff;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 5000;
   }
}
body {
    background:#111;
    margin:0;
    overflow:hidden;
    font-family:sans-serif;
}

#uiBars {
    position:absolute;
    top:10px;
    left:10px;
    width:200px;
}

.bar {
    width:100%;
    height:10px;
    background:#333;
    margin-bottom:4px;
}
.fill {
    height:100%;
    background:#0f0;
}

.skillBtn {
    border:none;
    border-radius:50%;
    background:#444;
    color:#fff;
    position:absolute;
}

.small { width:55px; height:55px; font-size:10px; }
.big   { width:80px; height:80px; font-size:12px; }

#skillCluster {
    position:absolute;
    bottom:40px;
    right:40px;
}

#btnDash  { right:140px; bottom:120px; }
#btnBoost { right:70px;  bottom:140px; }
#btnJump  { right:140px; bottom:50px;  }
#btnAttack{ right:0px;   bottom:0px;   }

.game-container {
    position:absolute;
    inset:0;
}

.joystick-zone {
    position:absolute;
    bottom:20px;
    left:20px;
    width:160px;
    height:160px;
}

.joystick {
    width:160px;
    height:160px;
    position:relative;
}

.joy-base {
    width:100%;
    height:100%;
    border-radius:50%;
    background:#222;
    opacity:0.6;
    position:absolute;
}

.joy-knob {
    width:60px;
    height:60px;
    background:#eee;
    opacity:0.9;
    border-radius:50%;
    position:absolute;
    left:50%; top:50%;
    transform:translate(-50%,-50%);
}